<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div id="uzplaylist_container">
        <div class="jp-type-playlist">
            <div class="jp-gui jp-interface clearfix">
                <div class="jp-controls col-xs-4 col-sm-2 text-center">
                    <a href="javascript:void()" class="fa fa-step-backward fa-2x" tabindex="1"><span class="sr-only">previous</span></a>
                    <a href="javascript:void()" class="fa fa-play fa-3x" tabindex="1"><span class="sr-only">play</span></a>
                    <a href="javascript:void()" class="fa fa-pause fa-3x" tabindex="1"><span class="sr-only">pause</span></a>
                    <a href="javascript:void()" class="fa fa-step-forward fa-2x" tabindex="1"><span class="sr-only">next</span></a>
                </div>
                <div class="col-xs-8 col-sm-10">
                    <div class="jp-playlist-item">
                        <span class="jp-title">Select a song to play</span> <span class="jp-artist"></span>
                    </div>
                    <div class="jp-current-time pull-left"></div>
                    <div class="progress pull-left jp-seek-bar">
						<div class="progress-bar progress-bar-info jp-play-bar" role="progressbar"></div>
					</div>
                    <div class="jp-duration pull-left"></div>
                </div>
            </div>

            <div class="jp-no-solution">
                <span>Update Required</span>
                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>

<div id="uzplaylist" class="jp-jplayer"></div>