<div class="row">
	<div class="col-xs-2 col-sm-1">
		<a href="javascript:void()" data-play>
			<img src="images/cover64.png" alt="...">
		</a>
	</div>
	<div class="col-xs-8 col-sm-10">
		<a href="javascript:void()" data-play>
			<div class="list-group-item-content">
				<h2 class="title"><span class="sr-only">Download <%= file.artistName %> -</span> <%= file.title %><span class="sr-only">.mp3</span></h2>
				<p class="byline"> <%= file.artistName %> </p>
			</div>
		</a>
	</div>

	<% if(playlist.where({ ID: file.ID }).length > 0) {
		var icon = 'minus';
		var text = 'Remove from Queue';
	} else { 
		var icon = 'plus';
		var text = 'Add to Queue';
	} %>

	<div class="col-xs-2 col-sm-1">
		<a id="btn-queue" href="javascript:void" title="<%= text %>">
			<i class="icon fa fa-<%= icon %>-circle fa-2x" aria-hidden="true"></i>
		</a>
	</div>
</div>	