<div class="header-controls col-xs-12 col-sm-9 col-md-10">
	<div class="row">
		<div class="col-sm-8">
			<h1>My Playlist</h1>
		</div>
		<!--<div class="col-sm-4">
			<div id="form-search" class="form-group" method="get">
			    <label for="search" class="sr-only">Search Uzplaylist</label>
			    <input type="search" class="form-control" autocomplete="off" name="q" id="search" placeholder="Search your playlist">
			</div>
		</div>-->
		<div class="col-sm-4">
			<button id="btn-remove-all" class="btn btn-default">Remove All</button>
		</div>
	</div>
</div>

<ul id="playlist" class="list-unstyled list-group">

</ul>