<div class="header-controls col-xs-12 col-sm-9 col-md-10">
	<div class="row">
		<div class="col-xs-4">
			<h1>Discover <span class="sr-only">and stream new uzbek music</span></h1>
		</div>
		<div class="col-xs-4">
			<div id="form-search" class="form-group" method="get">
			    <label for="search" class="sr-only">Search Uzplaylist</label>
			    <input type="search" class="form-control" autocomplete="off" name="q" id="search" placeholder="Search...">
			</div>
		</div>
		<div class="col-xs-4">
			<button id="btn-play-all" class="btn btn-default">Play All</button>
		</div>
	</div>
</div>

<ul id="results" class="list-unstyled list-group">

</ul>