<a class="brand hidden-xs" href="#">UzPlaylist</a>

<ul id="navigation" class="list-unstyled">
    <li <% if(route === 'home') { %> class="active" <% } %>>
        <a href="#">
        	<i class="fa fa-search" aria-hidden="true"></i> Discover <span class="sr-only">new uzbek music</span>
        </a>
    </li>
    <li <% if(route === 'upload') { %> class="active" <% } %>>
        <a href="#upload">
        	<i class="fa fa-upload" aria-hidden="true"></i> Upload
        </a>
    </li>
    <!--<li <% if(route === 'search') { %> class="active" <% } %>>
        <a href="#search">Discover</a>
    </li>-->
    <li <% if(route === 'playlist') { %> class="active" <% } %>>
        <a href="#queue">
        	<i class="fa fa-indent" aria-hidden="true"></i> My Playlist 
        	<sup>
	        	<span
	        		<% if(numPlaylist < 10) { %>class="single"<% } %>
	        		<% if(numPlaylist > 9 && numPlaylist < 100) { %>class="double"<% } %>
	        		<% if(numPlaylist > 99) { %>class="triple"<% } %>>
	        		<% if(numPlaylist < 100) { print(numPlaylist); } else { print('99+') } %>
	        	</span>
	        </sup>
        </a>
    </li>
    <li>
    	<a href="javascript:void()" id="contactLink">
    		<i class="fa fa-envelope" aria-hidden="true"></i> Contact Us
    	</a>
    </li>
</ul>