<div class="header-controls col-xs-12 col-sm-9 col-md-10">
	<div class="row">
		<div class="col-sm-12">
			<h1>Upload <span class="sr-only">and share music</span></h1>
		</div>
	</div>
</div>

<div class="clearfix">	
	<div class="col-md-12">
		<div class="jumbotron dropzone">
	  		<h1 class="h3">Add Music</h1>
	  		<p>Upload music to share with others. Please refrain from sharing copyrighted materials. Currently supported file formats: .mp3</p>
	  		<a id="btn-upload" class="btn btn-primary btn-lg btn-block" href="javascript:void();" role="button">Drop Files Here or Click to Upload</a>
		</div>
	</div>
	<!--<div class="col-md-6">
		<div class="jumbotron">
	  		<h1 class="h3">Add Albums</h1>
	  		<p>Add an album that is currently not available on our side.</p>
	  		<a class="btn btn-primary btn-lg btn-block" href="javascript:void();" role="button">Add Album</a>
		</div>
	</div>-->

	<div class="col-md-12">
		<div class="alert alert-danger hidden" role="alert" tabindex="-1">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			<span class="error-msg"></span>
		</div>
	</div>
</div>

<div class="clearfix">
	<div class="dropzone-previews col-md-12"></div>
</div>