<div class="table table-striped files" id="previews">
 
  <div id="template" class="file-row">
    <div class="file-item" class="clearfix">
    	<div class="file-item-preview">
	        <p class="file-name">
	          	<strong class="name" data-dz-name></strong> 
	          	(<span class="size" data-dz-size></span>)
	        </p>
	        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
	      		<div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
	        </div>
	        <a class="file-remove" href="javascript:void()" data-dz-remove>
	      		<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
	      		<span class="sr-only">Remove <span data-dz-name></span></span>
	        </a>
	        <p class="file-success text-success hidden">File saved successfully.</p>
	        <p class="file-danger text-danger hidden">There was an error saving the file.</p>
	        <a data-target="expand-collapse" class="file-info-toggle" href="javascript:void();" aria-expanded="false">
	        	<i class="icon glyphicon glyphicon-chevron-down" aria-hidden="true"></i>
	        	<span class="sr-only">Expand <span data-dz-name></span> info fields</span>
	        </a>
	    </div>
	    <div data-section="expand-collapse" class="file-item-info hidden" aria-hidden="true">
	    	<form id="form-file-info" role="form">
	    		<input type="hidden" name="file-id" id="file-id" value="">
		    	<div class="row">
		    		<div class="col-md-4">
		    			<img class="file-item-thumb center-block" src="/images/cover256.png" alt="Default cd cover">
						<!--<div class="form-group center-block">
		    				<label for="file-thumb" class="sr-only">Upload CD Cover</label>
							<input type="file" id="file-thumb">
							<p class="help-block">Minimum 256 X 256 px. Max 10MB.</p>
						</div>-->
		    		</div>
		    		<div class="col-md-6">
			    		<div class="form-group">
			    			<div class="alert alert-danger hidden" role="alert" tabindex="-1">
								<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span class="sr-only">Error:</span>
								<span class="error-msg">All fields are required.</span>
							</div>

			    			<label for="file-artist">Artist*</label>
			    			<select class="form-control" id="file-artist">
								<option value="0">Unknown</option>
								<% _.each(artists, function(model) { %>
									<option value="<%= model.attributes.id %>"><%= model.attributes.name %></option>
								<%	}) %>
							</select>
			    		</div>
						<div class="form-group">
							<label for="file-title">Song Title*</label>
							<input type="text" class="form-control" id="file-title">
						</div>
						<div class="form-group">
			    			<label for="file-album">Album</label>
			    			<select class="form-control" disabled id="file-album">
								<option value="0">Not Supported Yet</option>
							</select>
			    		</div>
						
						<button type="submit" class="btn btn-success btn-block" id="btn-save">Save</button>
					</div>
				</div>
			</form>
    	</div>
    </div>
    <div>
        <strong class="error text-danger" data-dz-errormessage></strong>
    </div>
  </div>
 
</div>