.dz-default.dz-message {
    display: none;
}

.file-item {
	background: #eee;
	border: 1px solid #ccc;
	padding: 10px;

	.file-item-preview {
		.file-name, p {
			display: inline-block;
			margin-bottom: 0;
		}

		.progress {
		    margin: 0 20px;
		    height: 10px;
		    width: 50%;
		    display: inline-block;
		}

		.file-info-toggle {
			float: right;
		}
	}

	.file-item-info {
		margin-top: 10px;
		border-top: 1px dotted #ccc;
		padding-top: 20px;

		.file-item-thumb {
			background-color: #fff;
			margin-bottom: 20px;
		}
	}
}