@import 'variables';

footer {
    .navbar {
        min-height: 60px;
    }

    a {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    .jp-controls {
        margin: 10px 0;

        a {
            margin-left: 5px;

            @media screen and (min-width: $screen-sm-min) {
            	margin-left: 10px;
            }

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                text-decoration: none;
                color: #ccc;
            }
        }

        .fa-step-forward, .fa-step-backward {
            position: relative;
            bottom: 5px;

        }

        .fa-3x {
        	@media screen and (max-width: $screen-sm-min) {
        		font-size: 2.5em;
    		}
        }

        .fa-2x {
        	@media screen and (max-width: $screen-sm-min) {
        		font-size: 1.5em;
    		}
        }
    }

    .progress {
		width: 55% !important;
		margin-top: 5px;
        height: 10px;
        border-radius: 5px;

		@media screen and (min-width: $screen-sm-min) {
			width: 300px;
		}
	}

    .jp-current-time {
        margin-left: 20px;
    }

    .jp-current-time,
    .jp-duration {
        margin-top: 5px;
    }

    .jp-playlist-item {
        margin-top: 10px;
        margin-left: 20px;
    }
}