$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

@import 'variables'; 
@import 'bootstrap';

// Import Dropzone.css
@import '../bower_components/dropzone/downloads/css/basic.css';

// Import jplayer
@import 'jplayer.blue.monday.css';

// Import SCSS Files
@import 'footer';
  
// Import File upload
@import 'file-upload-item';

// Import sidr
@import 'sidr';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    height: 100%;
}

body {
    background-color: #282828;
    height: 100%;
}

.header-mobile {
	width: 100%;
	padding: 15px;
	position: fixed;
	background-color: #282828;
	z-index: 2;
	height: 58px;

	h1 {
		margin: 0;

		a {
			color: #fff;
		}
	}

	#btn-navigation {
		float: left;
		color: #fff;
	}
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.content-wrapper {
    @include clearfix();
    height: 100%;
    
    .main-content-wrapper {
        padding: 15px;
        background-color: #fff;
        min-height: 100%;
        margin-bottom: 60px;
        margin-top: 100px;
        @media screen and (min-width: $screen-sm-min) {
        	margin-top: 49px;
        }
    }
}

/* Custom page header */
#side-navbar {
    margin-top: 20px;
    position: fixed;

    .brand {
        color: #fff;
        font-size: 21px;
        text-align: center;
		display: block;
    }

    #navigation {
        margin-top: 80px;
        margin-left: -15px;
        margin-right: -15px;

        li {
            a {
                display: block;
                padding: 15px;
                color: #bbb;
                text-decoration: none;
                font-weight: bold;
                font-size: 18px;
                background-color: #282828;
                border-top: 1px solid #000;
            }

            &:first-child a {
                border-top: 1px solid #2f2f2f;
            }

            &.active a, a:focus, a:hover {
                border-top-color: #181818;
                background-color: #181818;
            }
        }
    }
}

sup {
	background-color: #FA5D5D;
	width: 21px;
	display: inline-block;
	height: 16px;
	top: -20px;
	border-radius: 18px;

	span {
		position: relative;
		top: 6px;
		left: 8px;
		font-size: 10px;
		color: #fff;
		font-weight: 400;
		padding: 0;

		&.double {
			left: 4px;
		}

		&.triple {
			left: 3px;
		}
	}
}

.jumbotron {
    @media screen and (min-width: $screen-sm-min) {
        padding-top:    ($jumbotron-padding);
        padding-bottom: ($jumbotron-padding);

        h1,
        .h1 {
          font-size: ($font-size-base * 2);
        }
    }
}

.list-group {
    .list-group-item,
    .list-group-item-success {
        img {
            display: inline-block;
            height: 43px;
            overflow: hidden;
            vertical-align: top;
            margin-right: 10px;
        }

        .list-group-item-content {
            display: inline-block;

            h2 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 21px;
            }

            p {
                display: inline-block;
                margin-bottom: 0;
            }
        }

        .icon {
        	float: right;
        	margin-top: 8px;
        }

        a {
        	display: block;
        }
    }
}

.header-controls {
	position: fixed;
	top: 50px;
	padding: 8px 15px;
	background-color: #eee;
	border-color: #ccc;
	z-index: 2;
	height: 50px;
	left: 0;

	@media screen and (min-width: $screen-sm-min) {
		top: 0;
		margin-left: -15px;
		left: auto;
	}

	h1 {
		margin: 0;
		float: left;
		font-size: 21px;
		@media screen and (min-width: $screen-sm-min) {
			font-size: 30px;
		}
	}

	.btn {
		float: right;
	}

	.form-group {
		margin-bottom: 0;
	}
}

#uzplaylist {
    position: absolute;
    top: 50px;
    background: #ccc;
    z-index: 9;
}

.jp-type-playlist {
    width: 100%;
    position: absolute;
}

.jp-title {
	color: #ccc;
}


.jp-artist {
	color: #666;
	font-size: 11px;
}

.feedback-error,
.feedback-success {
	padding: 5px 15px;

	.glyphicon {
		margin-right: 8px;
	}
}